
.fl-table {
    border-radius: 10px;
    padding-left: 10px;
    font-size: 23px;
    font-weight: 20px;
    border: solid 1px #e0e0e8;
    /* border-collapse: ; */
    width: 100%;
    /* max-width: 100%; */
    white-space: nowrap;
    /* background-color: yellow; */
    height: 50%;
}


.fl-table th {
    text-align: center;
    padding: 5px;
    font-size: 18px;
    width: 80px;
}

.fl-table td {
    text-align: center;
    padding: 5px;
    border-right: 1px solid #e0e0e8;
    border-top: 1px solid;
    font-size: 15px;
}



.fl-table thead th {
    color: #ffffff;
    background: #3b7e38;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #233343;

}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.centered-content {
    text-align: center;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.courses-table {
    border-collapse: collapse;
    width: 100%;
}

.courses-table th,
.courses-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.operations-cell {
    display: flex;
    gap: 10px;
}
.withdraw{
    display: flex;
        margin: 5px;
        padding: 2px;
        justify-content: space-between;
}