
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: rgba(71, 147, 227, 1);
   
}

h2 {
    
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    padding: 20px 0;
}

/* Table Styles */


.fl-table {
    border-radius: 10px;
    padding-left: 10px;
    font-size: 23px;
    font-weight: 20px;
border:solid 1px;
    /* border-collapse: ; */
    width: 100%;
    /* max-width: 100%; */
    white-space: nowrap;
    /* background-color: yellow; */
    height:50%;
        font-family: "Monteserrat";
}


.fl-table th {
    text-align: center;
    padding: 5px;
    font-size: 18px;
    width: 80px;
}

.fl-table td {
    text-align: center;
    padding: 5px;
    border-right: 1px solid #e0e0e8 ;
    border-top: 1px solid;
    font-size: 15px;
}


.fl-table thead th {
    color: #ffffff;
    background: #3b7e38;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #233343;

}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 800px) {
    .fl-table {
        display: block;
        width: 100%;
    }


    .fl-table thead,
    .fl-table tbody,
    .fl-table thead th {
        display: block;
    }

 
    .fl-table thead {
        float: left;
    }

    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }

    .fl-table td,
    .fl-table th {
        padding: 10px .400rem .400rem .400rem;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        font-size: 20px;
        text-overflow: ellipsis;
    }

    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }

    .fl-table tbody tr {
        display: table-cell;
    }

    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }

    .fl-table tr:nth-child(even) {
        background: transparent;
        
    }

    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
                border-left:  1px solid ;
    }

    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
                        border-left: 1px solid;
    }

    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}
ul.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

ul.pagination li {
    cursor: pointer;
}

.search-filter {
    margin-left: 10px;
    

}
.decision_btn{
    width: 45%;
    font-size: 80%;
    margin: 1px;
}
.nav-pagee {
    display: contents;
    position: fixed;
    justify-content: center;
    margin-left: 40%;
    margin-right: 40%
    
}

.badge {
    border-radius: 10px;
    font-size: 12px;
    line-height: 1;
    padding: .375rem .5625rem;
    font-weight: 700;
    font-family: "Monteserrat";

}


